@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: black;
}

.container {
  max-width: 100%;
  width: 500px;
  background: transparent;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
}

.container header {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  text-align: center;
}

.container .form {
  margin-top: 30px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("bg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  z-index: -1;
}

.form .input-box {
  margin-top: 20px;
  color: #4b4b4b;
}

.input-box label {
  color: rgba(255, 255, 255, 0.9);
}

.form input[type="text"],
.form input[type="number"],
.form input[type="email"] {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: black;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  opacity: 0.6;
}

.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.gender-box label {
  color: white;
  margin-right: 10px;
  font-size: 0.9rem;
}

.gender-box input[type="radio"] {
  height: 15px;
  width: 15px;
  outline: none;
  margin-right: 5px;
}

.form button[type="submit"] {
  margin-top: 30px;
  height: 50px;
  width: 100%;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  background: #04aa6d;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.form button[type="submit"]:hover {
  opacity: 1;
}
